body {
  position: relative;
  /* height: 100vh; */
  /* linear-gradient(180deg, rgba(8, 15, 26, 0.59), rgba(17, 17, 46, 0.46)) */
  /* background: url(../../img/loading.gif) no-repeat 50% fixed; */
  background-size: 10%;
  animation: smooth 2s ease-in-out;
}

@keyframes smooth {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
